<h2>
  <%= @blog.title %>
</h2>
<%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

<p class="mt-3">
  <%= @blog.body %>
</p>

<%= render "comments/comment_form" %>

<div id="comments" data-blog-id="<%= @blog.id %>" class="blog-post-comments mt-3">
  <% if @blog.comments.any? %>
    <%= render @blog.comments %>
  <% else %>
    <p class="text-muted m-5 text-center">No comments for this blog post</p>
  <% end %>
</div>


